<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>


    <h1>Sign Up</h1>

    <form action="/signup/volunteers" method="post">
        <input placeholder="UserName" name="name" type="text">
        <br>
        <input placeholder="email" name="email" type="email">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input placeholder="id" name="id" type="number">
        <br>
        <input placeholder="skill" name="skill" type="text">
        <br>
        <input placeholder="Exp" name="Exp" type="number">
        <br>
        <input placeholder="lang" name="lang" type="text">
        <br>
        <input class="sub" type="submit">
    </form>

    <a href="/">Go back to login page</a>

</body>

</html>